<!--
@Author: Muhammad Ali Anjum <ali>
@Date:   15-Jun-2016 09:25 pm
@Last modified by:   ali
@Last modified time: 19-Jun-2016 03:26 pm
-->

<!-- Start Home Page Slider -->
<section id="home">
  <!-- Carousel -->
  <div id="main-slide" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
      <li data-target="#main-slide" data-slide-to="1"></li>
      <li data-target="#main-slide" data-slide-to="2"></li>
      <li data-target="#main-slide" data-slide-to="3"></li>
    </ol>
    <!--/ Indicators end-->

    <!-- Carousel inner -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="img-responsive" src="images/slider/bg1.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <h2 class="animated2 white" >
                          <span class="slidertextback">Lets Fund <strong>Pakistan</strong></span>
                          </h2>
                          <br>
            <h3 class="animated3 white">
                            <span class="slidertextback">Help spread smiles</span>
                          </h3>

          </div>
        </div>
      </div>
      <!--/ Carousel item end -->
      <div class="item">
        <img class="img-responsive" src="images/slider/bg2.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <h2 class="animated4 white">
                            <span class="slidertextback"><strong>Millions</strong> can be saved</span>
                        </h2>
                        <br>
            <h3 class="animated5 white">
                          <span class="slidertextback">Raise Money for what inspires you</span>
                        </h3>

          </div>
        </div>
      </div>
      <!--/ Carousel item end -->
      <div class="item">
        <img class="img-responsive" src="images/slider/bg3.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <h2 class="animated7 white">
                            <span class="slidertextback">Feed the <strong>Hungry</strong></span>
                        </h2>
                         <br>
            <h3 class="animated8 white">
                          <span class="slidertextback">Why you are waiting</span>
                        </h3>

          </div>
        </div>
      </div>
      <!--/ Carousel item end -->
        <!--/ Carousel item end -->
      <div class="item">
        <img class="img-responsive" src="images/slider/bg4.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <h2 class="animated7 white">
                            <span class="slidertextback">Educate the <strong>young</strong></span>
                        </h2>
                         <br>
            <h3 class="animated8 white">
                          <span class="slidertextback">For a better tommorro</span>
                        </h3>

          </div>
        </div>
      </div>
      <!--/ Carousel item end -->
    </div>
    <!-- Carousel inner end-->

    <!-- Controls -->
    <a class="left carousel-control" href="#main-slide" data-slide="prev">
      <span><i class="fa fa-angle-left"></i></span>
    </a>
    <a class="right carousel-control" href="#main-slide" data-slide="next">
      <span><i class="fa fa-angle-right"></i></span>
    </a>
  </div>
  <!-- /carousel -->
</section>
<!-- End Home Page Slider -->


<!-- Start Services Section -->
<div class="section service">
  <div class="container">
    <div class="row">
    <center>
      <h1>Help Organisations build a better Pakistan</h1>
      <p>Some peeps are working day and night to make this country better, and they need your help. Help them by</p>
      <br>
      <br>
    </center>
      <!-- Start Service Icon 1 -->
      <div class="col-md-4 col-sm-6 service-box service-center">
        <div class="service-icon">
          <i class="fa fa-money icon-large-effect icon-effect-1"></i>
        </div>
        <div class="service-content">
          <h4>Donate</h4>
          <p>Donate monetarily to different NGO's</p>

        </div>
      </div>
      <!-- End Service Icon 1 -->

      <!-- Start Service Icon 2 -->
      <div class="col-md-4 col-sm-6 service-box service-center">
        <div class="service-icon">
          <i class="fa fa-volume-up icon-large-effect icon-effect-1"></i>
        </div>
        <div class="service-content">
          <h4>Speak Out</h4>
          <p>Speak Out, and make the empire of evil Crumble</p>
        </div>
      </div>
      <!-- End Service Icon 2 -->

      <!-- Start Service Icon 3 -->
      <div class="col-md-4 col-sm-6 service-box service-center">
        <div class="service-icon">
          <i class="fa fa-thumbs-up icon-large-effect icon-effect-1"></i>
        </div>
        <div class="service-content">
          <h4>Volunteer</h4>
          <p>Volunteer your work for different NGO's</p>
        </div>
      </div>
      <!-- End Service Icon 3 -->


    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- End Services Section -->


<!-- Start Purchase Section -->
<div class="section purchase">
  <div class="container">

    <!-- Start Video Section Content -->
    <div class="section-video-content text-center">

      <!-- Start Animations Text -->
      <h1 class="fittext wite-text uppercase tlt slidertextback">

                  <span class="texts ">
                    <span>Poor</span>
                    <span>Old</span>
                    <span>Children</span>
                    <span>Sick</span>
                  </span>
                   need your help <br/> Provide help in any  <strong>means</strong>
                </h1>
      <!-- End Animations Text -->


      <!-- Start Buttons -->
      <a href="#" class="btn-system btn-large"><i class="fa fa-info-circle"></i> More about PakAid</a>

    </div>
    <!-- End Section Content -->

  </div>
  <!-- .container -->
</div>
<!-- End Purchase Section -->

 <!-- Divider -->
    <div class="hr1 margin-top"></div>

<div class="section" style="padding: 10px;">
    <div class="row">
      <div class="col-md-12">
     <!-- Start Big Heading -->
  <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
    <h1>These <strong>Organisations</strong> need your assistance</h1>
  </div>
  <!-- End Big Heading -->

        <!-- Nav Tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a ng-click="getOrganisations()" data-toggle="tab"><i class="icon-award-1"></i>All</a></li>
          <li><a ng-click="getOrganisations('H')" data-toggle="tab"><i class="icon-beaker"></i>Hospitals</a></li>
          <li><a ng-click="getOrganisations('E')" data-toggle="tab"><i class="icon-droplet"></i>Education</a></li>
        </ul>

        <!-- Tab Panels -->
        <div class="tab-content">
          <!-- Tab Content 1 -->
          <div class="tab-pane fade in active" id="tab1">
                    <!-- Start Recent Projects Carousel -->
    <ul id="portfolio-list" data-animated="fadeIn">

       <li ng-repeat="organisation in organisations">
        <img ng-if="organisation.pictures" src="{{ serviceBase }}{{ organisation.pictures.gallery[0] }}?dim=350x300" alt="" />
        <div class="portfolio-item-content">
          <span class="header">About {{ organisation.name }}</span>
          <p class="body">{{ organisation.description }}</p>
        </div>

        <h4 style="margin-top:10px; ">{{ organisation.name }}</h4>
        <a href="#/organisation/{{organisation.id}}"><i class="more">+</i></a>
      </li>
    </ul>
    <!-- End Recent Projects Carousel -->
          <br>
        <center><a href="organisations.html"><button class="btn btn-large btn-system">More Organisations</button></a></center>



          </div>
          <!-- Tab Content 2 -->
          <div class="tab-pane fade" id="tab2">
             <ul id="portfolio-list" data-animated="fadeIn">
            <li>
        <img src="images/portfolio-1/2.png" alt="" />
        <div class="portfolio-item-content">
          <span class="header">About Shaukat Khanum</span>
          <p class="body">Shaukat Khanum Memorial Cancer Hospital and Research Centre has established itself as a centre of excellence providing comprehensive care free of cost to thousands of indigent cancer patients </p>
        </div>

        <h4 style="margin-top:10px; ">Shaukat Khanum</h4>
        <a href="#"><i class="more">+</i></a>

      </li>
      </ul>
          </div>
               <!-- Tab Content 3 -->
          <div class="tab-pane fade" id="tab3">
             <ul id="portfolio-list" data-animated="fadeIn">
             <li>
        <img src="images/portfolio-1/3.png" alt="" />
        <div class="portfolio-item-content">
          <span class="header">About SOS Village</span>
          <p class="body">The orphans in our society are the responsibility of all of us, our aim is to make sure that they get a fair chance in life, to ensure that they too are loved and valued and enable them to become a productive citizen.</p>
        </div>

        <h4 style="margin-top:10px; ">SOS Village</h4>
       <a href="#"><i class="more">+</i></a>

      </li>
      </ul>


          </div>



        </div>



      </div>




    </div>
</div>
</div>






<br>
<br>
<div class="cta-mail">
<div class="container text-center">
  <div class="big-title text-center">
    <h1>Stay <strong>Updated</strong> with these organisations</h1>
  </div>
  <div id="mc_embed_signup " >
    <form role="form" action="http://startbootstrap.us3.list-manage1.com/subscribe/post?u=531af730d8629808bd96cf489&amp;id=afb284632f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
      <div class="row" style="">
        <input type="email" class="center-block email-subscribe col-lg-offset-4 col-lg-6 col-md-offset-4 col-md-6" placeholder="Email" name="email" >
        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn-system btn-large col-md-4">Subscribe!</button>
      </div>
      <div id="mce-responses">

        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
    </form>
  </div>
  <!-- End MailChimp Signup Form -->
</div>
</div>

<!-- Start Client/Partner Section -->
<div class="partner">
  <div class="container">
    <div class="row">

      <!-- Start Big Heading -->
      <div class="big-title text-center">
        <h1><strong>Organizations</strong> we are working with</h1>
      </div>
      <!-- End Big Heading -->

      <!--Start Clients Carousel-->
      <div class="our-clients">
        <div class="clients-carousel custom-carousel touch-carousel navigation-3" data-appeared-items="5" data-navigation="true">

          <!-- Client 1 -->
          <div class="client-item item">
            <a href="#"><img src="images/clients/c1.png" alt="" /></a>
          </div>

          <!-- Client 2 -->
          <div class="client-item item">
            <a href="#"><img src="images/clients/c2.png" alt="" /></a>
          </div>

          <!-- Client 3 -->
          <div class="client-item item">
            <a href="#"><img src="images/clients/c3.png" alt="" /></a>
          </div>

          <!-- Client 4 -->
          <div class="client-item item">
            <a href="#"><img src="images/clients/c4.png" alt="" /></a>
          </div>

          <!-- Client 5 -->
          <div class="client-item item">
            <a href="#"><img src="images/clients/c5.png" alt="" /></a>
          </div>

          <!-- Client 6 -->
          <div class="client-item item">
            <a href="#"><img src="images/clients/c6.png" alt="" /></a>
          </div>

          <!-- Client 7 -->
          <div class="client-item item">
            <a href="#"><img src="images/clients/c7.png" alt="" /></a>
          </div>

          <!-- Client 8 -->
          <div class="client-item item">
            <a href="#"><img src="images/clients/c8.png" alt="" /></a>
          </div>

        </div>
      </div>
      <!-- End Clients Carousel -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- End Client/Partner Section -->
