

<!-- Start Purchase Section -->
<div class="section purchase">
    <div class="container">

        <!-- Start Video Section Content -->
        <div class="section-video-content text-center">

            <!-- Start Animations Text -->
            <h1 class="fittext wite-text uppercase tlt slidertextback">

                <span class="texts ">
                    <span>Under-priviliged</span>
                    <span>Elderly</span>
                    <span>Children</span>
                    <span>Ailing</span>
                </span>
                need our help <br/> Let's help as<strong> much as we can!</strong>
            </h1>
            <!-- End Animations Text -->


            <!-- Start Buttons -->
            <a href="#" class="btn-system btn-large"><i class="fa fa-info-circle"></i> More about PakAid</a>

        </div>
        <!-- End Section Content -->

    </div>
    <!-- .container -->
</div>
<!-- End Purchase Section -->

<!-- Divider -->
<div class="hr1 margin-top"></div>
