<div class="recent-projects">
    <h4 class="title"><span>Similar Organisations</span></h4>
    <div class="projects-carousel touch-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-item" style="width: 288px;"><div class="portfolio-item item">
                <div class="portfolio-border">
                    <div class="portfolio-thumb">
                        <a href="#">
                            <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                            <img alt="" src="/public/images/portfolio-1/9.jpg">
                        </a>
                    </div>
                    <div class="portfolio-details">
                        <a href="#">
                            <h4>Lorem Ipsum Dolor</h4>
                            <span>Ilustration</span>
                            <span>Animation</span>
                        </a>
                    </div>
                </div>
        </div></div>
</div></div>


