<!-- Start Services Section -->
<div class="section service">
    <div class="container">
        <div class="row">
            <center>
                <h1>Help Organisations build a better Pakistan</h1>
                <p>Some peeps are working day and night to make this country better, and they need your help. Help them by</p>
                <br>
                <br>
            </center>
            <!-- Start Service Icon 1 -->
            <div class="col-md-4 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-money icon-large-effect icon-effect-1"></i>
                </div>
                <div class="service-content">
                    <h4>Donate</h4>
                    <p>Donate monetarily to different NGO's</p>

                </div>
            </div>
            <!-- End Service Icon 1 -->

            <!-- Start Service Icon 2 -->
            <div class="col-md-4 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-volume-up icon-large-effect icon-effect-1"></i>
                </div>
                <div class="service-content">
                    <h4>Speak Out</h4>
                    <p>Speak Out, and make the empire of evil Crumble</p>
                </div>
            </div>
            <!-- End Service Icon 2 -->

            <!-- Start Service Icon 3 -->
            <div class="col-md-4 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-thumbs-up icon-large-effect icon-effect-1"></i>
                </div>
                <div class="service-content">
                    <h4>Volunteer</h4>
                    <p>Volunteer your work for different NGO's</p>
                </div>
            </div>
            <!-- End Service Icon 3 -->


        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- End Services Section -->

